body {
  background: #F8F8F8;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  max-width: 1290px;
  padding: 0 60px;
  margin: 0 auto;

  @media ( max-width: 768px ) {
    padding: 0 32px;
  }

  @media ( max-width: 500px ) {
    padding: 0 16px;
  }
}